// Estilos generales del cuerpo del documento
body {
  font-family: Arial, sans-serif; // Fuente utilizada en el cuerpo
  margin: 0; // Elimina los márgenes predeterminados del navegador
  padding: 20px; // Añade espacio interno al cuerpo del documento

  // Fondo en gradiente para el cuerpo
  background: linear-gradient(to bottom, #eee7e8, #FF6347); // Gradiente del fondo
  background-attachment: fixed; // Fija el fondo para que no se repita el gradiente y ocupe todo el alto del viewport

  // Estilo para el encabezado principal
  h1 {
    text-align: center; // Centra el texto del encabezado
    color: #333; // Color del texto
    margin-bottom: 20px; // Espacio debajo del encabezado
    font-size: 2em; // Tamaño del texto del encabezado
  }

  // Estilo para el formulario
  form {
    display: flex; // Utiliza flexbox para la disposición
    flex-direction: column; // Orienta los elementos del formulario en una columna
    align-items: center; // Centra los elementos en el formulario
    margin-bottom: 10px; // Espacio debajo del formulario

    // Estilo para el campo de entrada de texto
    input {
      padding: 12px; // Espacio interno dentro del campo de entrada
      font-size: 16px; // Tamaño de la fuente en el campo de entrada
      border: 2px solid #007BFF; // Borde del campo de entrada
      border-radius: 5px; // Bordes redondeados
      outline: none; // Elimina el contorno predeterminado del navegador

      // Cambio de estilo al recibir foco
      &:focus {
        border-color: #0056b3; // Cambia el color del borde al recibir foco
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); // Añade sombra al recibir foco
      }
    }

    button {
      display: block; // Asegura que el botón se comporte como un bloque
      margin: 10px auto; // Centra el botón horizontalmente y añade margen
      padding: 12px 20px; // Espacio interno del botón
      font-size: 16px; // Tamaño de la fuente en el botón
      background-color: #3498db; // Color de fondo del botón (azul claro)
      color: #fff; // Color del texto del botón
      border: none; // Elimina el borde predeterminado
      border-radius: 5px; // Bordes redondeados
      cursor: pointer; // Cambia el cursor al pasar sobre el botón
      transition: background-color 0.3s ease, transform 0.3s ease; // Transición suave para el cambio de color y transformación
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Sombra del botón

      // Cambio de estilo al pasar el cursor sobre el botón
      &:hover {
        background-color: #2980b9; // Cambia el color de fondo al pasar el cursor (azul medio)
        transform: scale(1.05); // Aumenta ligeramente el tamaño del botón al pasar el cursor
      }

      // Cambio de estilo al hacer clic en el botón
      &:active {
        background-color: #1f618d; // Cambia el color de fondo al hacer clic (azul oscuro)
        transform: scale(1); // Vuelve al tamaño original del botón al hacer clic
      }
    }

    // Estilo para el mensaje debajo del botón
    .mensaje {
      text-align: center; // Centra el texto
      font-size: 14px; // Tamaño de la fuente
      color: #666; // Color del texto
      padding: 5px; // Espacio interno del mensaje
      background-color: #f9f9f9; // Color de fondo del mensaje
      border: 1px solid #ddd; // Borde del mensaje
      border-radius: 5px; // Bordes redondeados
    }
  }

  // Estilo para la lista de tareas
  ul {
    list-style: none; // Elimina los puntos de lista predeterminados
    padding: 0; // Elimina el padding predeterminado
    max-width: 600px; // Limita el ancho máximo de la lista
    margin: 0 auto; // Centra la lista horizontalmente

    // Estilo para los elementos de lista
    li {
      background: #ffffff; // Color de fondo de cada elemento de lista
      margin: 10px 0; // Espacio arriba y abajo de cada elemento de lista
      padding: 15px; // Espacio interno dentro de cada elemento de lista
      border-radius: 8px; // Bordes redondeados
      cursor: pointer; // Cambia el cursor al pasar sobre el elemento de lista
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Añade una sombra sutil a cada elemento

      // Cambio de estilo al pasar el cursor sobre el elemento de lista
      &:hover {
        background: #f1f1f1; // Cambia el color de fondo al pasar el cursor
      }
    }
  }

  // Estilo para el botón de cambiar color de fondo
  #cambiarColor {
    display: block; // Asegura que el botón se comporte como un bloque
    margin: 5px auto; // Centra el botón horizontalmente y añade margen
    margin-bottom: 14px; // Margen inferior
    padding: 12px 20px; // Espacio interno del botón
    font-size: 16px; // Tamaño de la fuente en el botón
    background-color: #4CAF50; // Color de fondo del botón (verde)
    color: #fff; // Color del texto del botón
    border: none; // Elimina el borde predeterminado
    border-radius: 5px; // Bordes redondeados
    cursor: pointer; // Cambia el cursor al pasar sobre el botón
    transition: background-color 0.3s ease, transform 0.3s ease; // Transición suave para el cambio de color y transformación
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Sombra del botón

    // Cambio de estilo al pasar el cursor sobre el botón
    &:hover {
      background-color: #45a049; // Cambia el color de fondo al pasar el cursor (verde más oscuro)
      transform: scale(1.05); // Aumenta ligeramente el tamaño del botón al pasar el cursor
    }

    // Cambio de estilo al hacer clic en el botón
    &:active {
      background-color: #388e3c; // Cambia el color de fondo al hacer clic (verde aún más oscuro)
      transform: scale(1); // Vuelve al tamaño original del botón al hacer clic
    }
  }
}

// Clase para el color de fondo azul
.fondoAzul {
  background: linear-gradient(to bottom, #8cc097, #003d7a); // Gradiente azul medio oscuro
  background-attachment: fixed; // Fija el fondo para que no se repita el gradiente y ocupe todo el alto del viewport
}
